<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Add New Product</div>

                    <div class="card-body">
                        <form @submit.prevent="addProduct">
						  <div class="row">
							<div class="col-md-6">
							  <div class="form-group" :class="{ 'form-group--error': $v.name.$error }">
								<label>Name:</label>
								<input type="text" class="form-control" v-model="product.name" v-model.trim="name" @input="setName($event.target.value)" required>
							  </div>
							<div class="error" v-if="!$v.name.required">Field is required</div>
  							<div class="error" v-if="!$v.name.minLength">Product name must have at least {{$v.name.$params.minLength.min}} letters.</div>
							</div>
							</div>
							<div class="row">
							  <div class="col-md-6">
								<div class="form-group" :class="{ 'form-group--error': $v.price.$error }">
								  <label>Price (INR):</label>
								  <input type="number" class="form-control" v-model="product.price" v-model.trim="price" @input="setPrice($event.target.value)" required>
								</div>
								<div class="error" v-if="!$v.price.required">Field is required</div>
  							  	<div class="error" v-if="!$v.price.minValue">Price should be more than 0 INR.</div>
							  </div>
							</div><br />
							<div class="form-group">
							  <button class="btn btn-primary">Create</button>
							</div>
						</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
.error{
	color:red;
}
</style>
<script>
	const { validationMixin, default: Vuelidate } = require('vuelidate');
	const { required, minLength, minValue } = require('vuelidate/lib/validators');
    export default {
        data(){
        return {
          product:{},
		  name: '',
      	  price: ''
        }
		  let access_token = localStorage.getItem('access_token');
		  if(access_token == null || access_token == "")
			this.$router.push({name: 'login'});
    },
	validations: {
		name: {
		  required,
		  minLength: minLength(4)
		},
		price: {
		  required,
		  minValue: minValue(0.00000001)
		}
	},
    methods: {
	  setName(value) {
		  this.name = value
		  this.$v.name.$touch()
		},
		setPrice(value) {
		  this.price = value
		  this.$v.price.$touch()
		},
      addProduct(){
	  	let uri = 'http://127.0.0.1:8000/api/product/store';
		let headers = {
			'Content-Type': 'application/json;charset=utf-8'
		  };
		headers['authorization'] = localStorage.getItem('access_token');
        this.axios.post(uri, this.product, {headers}).then((response) => {
			if(response.data.errors){
				alert(response.data.errors);
			} else {
				if(response.data.status){
					alert(response.data.message);
					this.$router.push({name: 'dashboard'});
				} else {
					alert(response.data.message);
				}
			}
		  }).catch((error) => {
				alert(error);
		  });
      }
    }
  }
</script>
