<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Update Product</div>

                    <div class="card-body">
                        <form @submit.prevent="updateProduct">
						  <div class="row">
							<div class="col-md-6">
							  <div class="form-group">
								<label>Name:</label>
								<input type="text" class="form-control" v-model="product.name" required>
							  </div>
							</div>
							</div>
							<div class="row">
							  <div class="col-md-6">
								<div class="form-group">
								  <label>Price (INR):</label>
								  <input type="number" class="form-control" v-model="product.price" required>
								</div>
							  </div>
							</div><br />
							<div class="form-group">
							  <button class="btn btn-primary">Update</button>
							</div>
						</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
        return {
          product:{}
        }
		  let access_token = localStorage.getItem('access_token');
		  if(access_token == null || access_token == "")
			this.$router.push({name: 'login'});
    },
	created(){
	  	
		var pageURL = window.location.href;
		var lastURLSegment = pageURL.substr(pageURL.lastIndexOf('/') + 1);
		
	  	let uri = 'http://127.0.0.1:8000/api/product/details/'+lastURLSegment;
		let headers = {
			'Content-Type': 'application/json;charset=utf-8'
		  };
		headers['authorization'] = localStorage.getItem('access_token');
        this.axios.get(uri, {headers}).then((response) => {
			this.product = response.data.data;
		  }).catch((error) => {
				alert(error);
		  });
      },
    methods: {
	  updateProduct(){
	  	var pageURL = window.location.href;
		var lastURLSegment = pageURL.substr(pageURL.lastIndexOf('/') + 1);
		
	  	let uri = 'http://127.0.0.1:8000/api/product/update/'+lastURLSegment;
		let headers = {
			'Content-Type': 'application/json;charset=utf-8'
		  };
		headers['authorization'] = localStorage.getItem('access_token');
        this.axios.post(uri, this.product, {headers}).then((response) => {
			if(response.data.errors){
				alert(response.data.errors);
			} else {
				if(response.data.status){
					alert(response.data.message);
					this.$router.push({name: 'dashboard'});
				} else {
					alert(response.data.message);
				}
			}
		  }).catch((error) => {
				alert(error);
		  });
      }
	  
    }
  }
</script>
