<template>
    <div class="container">
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		  <ul class="navbar-nav">
			<li class="nav-item">
			  <router-link to="/" class="nav-link">Home</router-link>
			</li>
			<li class="nav-item" v-if="isLoggedin == false">
			  <router-link to="/login" class="nav-link">Login</router-link>
			</li>
			<li class="nav-item" v-if="isLoggedin == true" style="float:right;">
			  <router-link to="/dashboard" class="nav-link">Dashboard</router-link>
			</li>
			<li class="nav-item" v-if="isLoggedin == true" style="float:right;">
			  <button class="btn btn-danger" @click.prevent="logout()">Logout</button>
			</li>
		  </ul>
		</nav>
		<br />
        <div>
            <transition name="fade">
                <router-view></router-view>
            </transition>
        </div>
    </div>
</template>

<style>
    .fade-enter-active, .fade-leave-active {
      transition: opacity .5s
    }
    .fade-enter, .fade-leave-active {
      opacity: 0
    }
</style>

<script>

    export default {
      data() {
        return {
          data: [],
		  isLoggedin: false
        }
      },
      created() {
      let uri = 'http://127.0.0.1:8000/api/validateToken';
	  
	  let access_token = localStorage.getItem('access_token');
	  let headers = {
		'Content-Type': 'application/json;charset=utf-8'
	  };
	  if(access_token !== '') {
		headers['authorization'] = access_token;
		this.axios.get(uri, {headers}).then(response => {
			this.isLoggedin = true;
		}).catch((error) => {
				alert(error);
		});
	  }
    },
	methods: {
      logout()
      {
        let uri = `http://127.0.0.1:8000/api/logout`;
		
		let headers = {
			'Content-Type': 'application/json;charset=utf-8'
		};
		headers['authorization'] = localStorage.getItem('access_token');
	  
        this.axios.post(uri, null,{headers}).then(response => {
		  alert(response.data.message);
		  localStorage.clear();
          this.$router.push({name: 'login'});
        });
      }
    }
  }
</script>