<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Products</div>

                    <div class="card-body">
						<router-link to="/product/create" class="btn btn-primary">Add Product</router-link>
                        <div class="table table-borderless" id="table">
							<table class="table table-borderless" id="table">
								<thead>
									<tr>
										<th>ID</th>
										<th>Name</th>
										<th>Price (INR)</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody v-if="data.length > 0">
									<tr v-for="item in data" :key="item.id">
										<td>{{ item.id }}</td>
										<td>{{ item.name }}</td>
										<td>{{ item.price }}</td>
										<td><a v-bind:href="'/product/edit/'+item.id" class="btn btn-primary"> Edit </a></td>
										<td><button class="btn btn-danger" @click.prevent="deleteProduct(item.id)">Delete</button></td>
									</tr>
								</tbody>
							</table>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
      data() {
        return {
          data: []
        }
      },
      created() {
      let uri = 'http://127.0.0.1:8000/api/products';
	  
	  let access_token = localStorage.getItem('access_token');
	  if(access_token == null || access_token == "")
	  	this.$router.push({name: 'login'});
		
	  let headers = {
		'Content-Type': 'application/json;charset=utf-8'
	  };
	
	  if(access_token !== '') {
		headers['authorization'] = access_token;
	  }
	
      this.axios.get(uri, {headers}).then(response => {
        this.data = response.data.data;
      }).catch((error) => {
			this.$router.push({name: 'login'});
	  });
    },
	methods: {
      deleteProduct(id)
      {
        let uri = `http://127.0.0.1:8000/api/product/delete/${id}`;
		
		let headers = {
			'Content-Type': 'application/json;charset=utf-8'
		};
		headers['authorization'] = localStorage.getItem('access_token');
	  
        this.axios.delete(uri, {headers}).then(response => {
		 if(response.data.errors){
			alert(response.data.errors);
		} else {
			if(response.data.status){
				this.data.splice(this.data.indexOf(id), 1);
			} else {
				alert(response.data.message);
			}
		}
        });
      }
    }
  }
</script>
