<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Login Component</div>

                    <div class="card-body">
                        <form @submit.prevent="loginUser">
                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control" name="email" v-model="data.email" required />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control" name="password" v-model="data.password" required />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6 offset-md-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="remember" id="remember">
                                    <label class="form-check-label" for="remember">
                                        Remember Me
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-8 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Login
                                </button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
		  data(){
			return {
			  data:{}
			}
		},
		created(){
			let access_token = localStorage.getItem('access_token');
		  	if(access_token != null)
				this.$router.push({name: 'dashboard'});
			
		},
		  methods: {
			loginUser() {
			  let uri = `http://127.0.0.1:8000/api/authenticate`;
			  this.axios.post(uri, this.data).then((response) => {
				if(response.data.errors){
					alert(response.data.errors);
				} else {
					if(response.data.status){
					console.log(response.headers.authorization);
						localStorage.setItem('access_token', response.headers.authorization);
						this.$router.push({name: 'dashboard'});
					} else {
						alert(response.data.message);
					}
				}
			  }).catch((error) => {
					alert(error);
			  });
			}
		  }
    }
</script>
